
// -- Order here is important --
// First the items from sass-mq to be overridden are declared.
// Then the sass-mq module is imported.
// Then inuitcss is imported.
// The variables inside use !default, so if the variable has already 
// been assigned to, it won’t be re-assigned, but if it doesn’t have 
// a value yet, it will be given one.
@import 'sass_mq_overrides';
@import '../../node_modules/inuitcss/node_modules/sass-mq/mq';
@import '../../node_modules/inuitcss/example.main';

@import 'partials/variables';

body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  margin: auto;
  max-width: 1024px;
  min-width: 320px;
  padding: 0 5%;
}

header {
  border-bottom: 3px $grey solid;
  margin-bottom: 25px;
  margin-top: 10px;
  position: relative;
  text-align: right;
  width: 100%;
}

main {
  margin-bottom: 50px;
}

h1,
h3 {
  margin: auto;
}

h3 {
  // margin: 15px 0 0 0;
  margin: 10px auto;
}

.header-title {

  h1 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

}

.logo {
  display: inline-block;
  height: auto;
  left: 0;
  margin: 0;
  position: absolute;
  width: 60px;
}

.home-featured-item {
  display: block;
  float: none;
  width: 100%;
}

.home-featured-item-img-wrap {
  height: 55vw;
  max-height: 55vw;
  overflow: hidden;
}

.home-featured-h2 {
  color: $grey;
  margin: 0 0 15px;
}

.home-featured-item-img {
  height: auto;
  width: 100%;
}

.home-featured-title {
  font-size: 1rem;
  margin: 15px 0 0;
}

.home-featured-item-title {
  font-size: 1.5rem;
  line-height: 1;
  padding: 15px 0 0;
  text-align: left;
}

.home-featured-anchor {
  text-decoration: none;
}

@include mq($from: tablet) {

  .header-title {
    display: inline-block;
    margin: 15px auto 25px;
    text-align: right;
  }

  .header-title {

    h1 {
      font-size: 2.1em;
    }

  }

  .home-hero {
    background-color: $white;
    background-image: url('paper.gif');
  }

  .home-featured {
    font-size: 0;
    line-height: 0;
    text-align: center;
  }

  .home-featured-item {
    display: inline-block;
    vertical-align: top;
    width: 33%;
  }

  .home-featured-title {
    font-size: 1.2rem;
    line-height: 1;
    margin: 35px 0 0;
    text-align: left;
  }

  .home-featured-item-img-wrap {
    height: 22vw;
    max-height: 200px;
  }

  .logo {
    margin: 15px 0 0;
    width: 4.5em;
  }

  .home-featured-item-title {
    text-align: center;
  }

  .home-featured-anchor {
    display: block;
  }

  .home-featured-anchor {

    &:visited {
      color: $black;
    }

  }

}
