
/*
	-- Order here is important --
	First the items from sass-mq to be overridden are declared.
	Then the sass-mq module is imported.
	Then inuitcss is imported.
	The variables inside use !default, so if the variable has already 
	been assigned to, it won’t be re-assigned, but if it doesn’t have 
	a value yet, it will be given one.
*/
@import 'sass_mq_overrides';
@import '../../node_modules/inuitcss/node_modules/sass-mq/mq';
@import '../../node_modules/inuitcss/example.main';

.foo {
    @include mq($from: mobile, $until: tablet) {
        background: red;
    }
    @include mq($from: tablet) {
        background: green;
    }
}

/*@include mq-add-breakpoint(tvscreen, 1920px);

.hide-on-tv {
    @include mq(tvscreen) {
        display: none;
    }
}

.danieltwo {
	font-size: 20px;
}*/





body {
	max-width: 1024px;
	min-width: 320px;
    margin: auto;
    padding: 0 5% 0 5%;
    font-family: Helvetica, sans-serif;
	font-size: 16px;
}
header {
	width: 100%;
	text-align: right;
	position: relative;
	border-bottom: 3px #7d97ad solid;
}
main {
	margin-bottom: 50px;
}
h1,
h3 {
	margin: auto;
}
h3 {
	margin: 15px 0 0 0;
}
/*		footer{
	height: 150px;
	background-color: #2d3c49;
	margin-top: 50px;
}*/
// .header-title{
// 	text-align: right;
// 	display: inline-block;
// 	margin: 25px auto auto auto;
// }
// .home-hero {
//    background-image: url("paper.gif");
//    background-color: #ffffff;
// 		 //   margin: 25px auto auto auto;
//    // padding: 30px 0 0 0;
//    // border-top: 3px #7d97ad solid;
// }
// .home-featured {
// 	font-size: 0;
// 	line-height: 0;
// 	text-align: center;
// }
// .home-featured-h2 {
// 	color: #7d97ad;
// }
// .home-featured-item {
// 	width:33%;
// 	display: inline-block;
// 	vertical-align: top;

// }
// .home-featured-title {
// 	font-size: 1.2rem;
// 	line-height: 1;
// 	text-align: left;
// }
// .home-featured-item-title {
// 	font-size: 1rem;
// 	line-height: 1;
// 	text-align: left;
// }
// .home-featured-item-img {
// 	max-height: 250px;
// 	height: 22vw;
// 	overflow: hidden;	
// }
// .home-hero-img {
// /*			width: 100%;
// 	height: auto;*/
// }
// .logo {
// 	width: 80px;
// 	height: auto;
// 	display: inline-block;
// 	position: absolute;
// 	left: 0px; 
// 	margin: 25px auto auto auto;
// }

// .home-featured-item.item-one {
// 	float: left;
// }

// .home-featured-item.item-two {
	
// }

// .home-featured-item.item-three {
// 	float: right;
// }

// .home-featured-anchor {
// 	display: block;
// 	text-decoration: none;
// }
// .home-featured-anchor:visited {
// 	color: #000000;
// }


/*.foo {
    @include mq($from: mobile, $until: tablet) {
        background: red;
    }
    @include mq($from: tablet) {
        background: green;
    }
}*/


/*@include mq($from: mobile, $until: tablet) {
	.header-title h1 {
		font-size: 2.5rem;

	}
}*/
/*@include mq($until: mobile) {
    background: green;
	.header-title h1 {
		font-size: 2.5rem;

	}
}*/

/*@media screen and (max-width: 38rem) {
	.header-title h1 {
		font-size: 1.5rem;

	}
	.header-title h3 {
		font-size: 1.2rem;
	}
	.logo {
		width: 70px;
	}
	.home-featured-item {
		width: 100%;
		display: block;
		float: none !important;
	}
	.home-featured-item-img {
		max-height: 55vw;
		height: 55vw;
	}
	.home-featured-title {
		font-size: 1rem;
	}
	.home-featured-item-title {
		font-size: 1.5rem;
	}
	h3 {
		margin: 10px auto 10px auto;
	}
}*/


/*@include mq($from: mobile) {*/
// @include mq($from: min) {
	.header-title h1 {
		font-size: 1.5rem;

	}
	.header-title h3 {
		font-size: 1.2rem;
	}
	.logo {
		width: 60px;
		height: auto;
		display: inline-block;
		position: absolute;
		left: 0px; 
		margin: 0;
	}
	.home-featured-item {
		width: 100%;
		display: block;
		float: none !important;
	}
	.home-featured-item-img {
		max-height: 55vw;
		height: 55vw;
		overflow: hidden;
	}
	.home-featured-title {
		font-size: 1rem;
	}
	.home-featured-item-title {
		font-size: 1.5rem;
	}
	h3 {
		margin: 10px auto 10px auto;
	}
// }

@include mq($from: tablet) {

	.header-title{
		text-align: right;
		display: inline-block;
		margin: 25px auto auto auto;
	}
	.header-title h1 {
		font-size: 2.1em;

	}
	.home-hero {
	   background-image: url("paper.gif");
	   background-color: #ffffff;
	}
	.home-featured {
		font-size: 0;
		line-height: 0;
		text-align: center;
	}
	.home-featured-h2 {
		color: #7d97ad;
	}
	.home-featured-item {
		width:33%;
		display: inline-block;
		vertical-align: top;

	}
	.home-featured-title {
		font-size: 1.2rem;
		line-height: 1;
		text-align: left;
	}
	.home-featured-item-title {
		font-size: 1rem;
		line-height: 1;
		text-align: left;
	}
	.home-featured-item-img {
		max-height: 250px;
		height: 22vw;	
	}
	.home-hero-img {
	/*			width: 100%;
		height: auto;*/
	}
	.logo {
		width: 4.5em;
	}

	.home-featured-item.item-one {
		float: left;
	}

	.home-featured-item.item-two {
		
	}

	.home-featured-item.item-three {
		float: right;
	}

	.home-featured-anchor {
		display: block;
		text-decoration: none;
	}
	.home-featured-anchor:visited {
		color: #000000;
	}

}
